.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  border: 2px solid black;
  border-radius: 5px;
}

.colorBox {
  font-size: 24px;
  width: 310px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.addColor {
  font-size: 16px;
  margin-top: 8px;
  width: 310px;
  height: 30px;
}